<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Ustawienia</title>
</head>
<body>

<div class="alert alert-warning" role="alert">
    Aby edytować swoje konto <a th:href="'/edytuj?id=' + ${user.id}" class="allert-link">kliknij tutaj</a>
</div>
</body>
</html>